/**
 * Float Layout Activity
 **/

 * {
    text-align: center;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    background-color: #fff;
    margin: 0;
    text-align: center;
    width: 100%;
    background-image: url(../images/furley_bg.png);
  }

  .container {
    width: 50%;
    margin: 0 auto;
  }
  
  header {
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
    background: #4aaaa5;
    border-bottom: 10px #cccccc solid;
    font-family: 'Open Sans', sans-serif;
  }

  header::after {
    content: '';
    display: table;
    clear: both;
  }

  .name {
    color: #ffffff;
    background: #bbb;
    width: 20%;
    height: 45px;
    /* border: 1px solid #eee; */
    float: left;
    padding: 15px 0 0 0;
  }

  nav {
    float: right;
    margin-top: 15px;
  }

  nav a:hover {
    color: #ffffff;
  }

  /*nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #777777;
  }*/

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
  }

  nav ul li a {
    position: relative;
    text-decoration: none;
    color: #777777;
    font-weight: bold;
    /*text-transform: uppercase;*/
  }

  section {
    background: #ccc;
    padding: 20px;
    margin-bottom: 20px;
    clear: both;
  }

  .aboutMain {
    position: relative;
    padding: 20px;
    margin-left: 480px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 900px;
    height: 500px;
    background-color: #888;
    border: #cccccc 10px solid;
  }

   .portfolioMain {
    position: relative;
    padding: 20px;
    margin-left: 480px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 900px;
    height: 600px;
    background-color: #888;
    border: #cccccc 10px solid;
  }

  .contactMain {
    position: relative;
    padding: 20px;
    margin-left: 480px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 900px;
    height: 500px;
    background-color: #888;
    border: #cccccc 10px solid;
  }
  .aboutMe {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-decoration: underline;
    color: #cccccc;
    
  }

  #aboutPic {
    height: 219px;
    width: 243px;
    float: left;
    margin-right: 20px;
  }

  .portfolioPic {
    height: 219px;
    width: 243px;
    float: left;
    margin: 20px;
    display: block;
  }

  .first {
    background-image: url("../images/michael.jpeg");
    background-size: cover;
  }

  .copy {
    float: right;
    clear: both;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
  footer {
    position: fixed;
    clear: both;
    background: #666666;
    bottom:0;
    width:100%;
    height:60px;  
    border-top: 10px #4aaaa5 solid;
    margin-top: 200px;
  }
  
  #copyright {
    padding-top: 10px;
    color: #777777;
    font-weight: bold;
  }
